/Computer_network/计算机网络（原书第7版） 自顶向下方法 (James F. Kurose Keith W. Ross) (z-lib.org).pdf
/computer_consist/计算机组成原理 (唐朔飞) (z-lib.org).pdf
/Git_Primer/GitHub入门与实践 (大塚弘记) (z-lib.org).pdf
/computer_consist/计算机组成原理 (艾伦·克莱门茨 (Alan Clements)) (z-lib.org).pdf
/Computer_network/Lab/Lab1/
/Artificial_Intelligence/Slide/*.pptx
/Computer_model/Slide/*.pptx
